<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>analizzaNome</servlet-name>
        <servlet-class>dev.giuliopime.AnalizzaNome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>analizzaNome</servlet-name>
        <url-pattern>/analizza</url-pattern>
    </servlet-mapping>
</web-app>
